In [1]:
# prepare environment
import pandas

top_companies = pandas.read_table("../data/top_companies.txt", sep='    ')
print top_companies.shape

top_companies.head()
del top_companies['Latest Filings']

(12000, 5)

/Library/Python/2.7/site-packages/ipykernel/__main__.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [118]:
import urllib2
from bs4 import BeautifulSoup
import sqlite3

conn = sqlite3.connect('h1b_salary.db')
c = conn.cursor() 
c.execute("DROP TABLE salary")
c.execute('''CREATE TABLE salary
             (company_name text, job_title text, salary integer, city_name text, submit_date text, start_date text, status text)''')

# loop over top companies list
for index, row in top_companies.iterrows():
    employer = row["Company Name"].replace(" ","+")
    print employer
    url = "http://h1bdata.info/index.php?em="+employer+"&job=&city=&year=All+Years"
    soup = BeautifulSoup(urllib2.urlopen(url).read(),'html.parser')
    table = soup.find('table', attrs={'id': 'myTable'})

    rows = table.findAll('tr')

    for tr in rows:
        cols = tr.findAll('td')
        text = ""
        for td in cols:
            text = text + td.find(text=True) + ';'
            if text.count(";") == 7:
                row_to_insert = "'" + text.replace(";","','")[:-2]
                #print row_to_insert
                c.execute("INSERT INTO salary VALUES (" + row_to_insert + ")")
    conn.commit()

#for row in c.execute('SELECT * FROM salary'):
#    print row
    
conn.close()

'JOINT VENTURE ASSOCIATES LLC','FINANCIAL ANALYST','50,000','WASHINGTON DC, DC','02/13/2015','08/12/2015','CERTIFIED'
'JOINT VENTURE ASSOCIATES LLC','FINANCIAL ANALYST','46,675','WASHINGTON, DC','02/13/2015','08/12/2015','CERTIFIED'
'JOINT VENTURE ASSOCIATES LLC','SOFTWARE ENGINEER','45,000','WASHINGTON DC, DC','02/13/2015','08/12/2015','CERTIFIED'
'JOINT VENTURE ASSOCIATES LLC','SOFTWARE ENGINEER','45,900','WASHINGTON DC, DC','02/13/2015','08/12/2015','CERTIFIED'
'JOINT VENTURE ASSOCIATES LLC','SOFTWARE ENGINEER','72,000','WASHINGTON DC, DC','02/26/2014','08/26/2014','CERTIFIED'
'JOINT VENTURE ASSOCIATES LLC','SOFTWARE ENGINEER','72,000','MILLERSVILLE, MD','01/21/2013','02/15/2013','CERTIFIED'
'JOINT VENTURE ASSOCIATES LLC','SOFTWARE ENGINEER','84,800','WASHINGTON DC, DC','02/13/2015','08/12/2015','CERTIFIED'
(u'JOINT VENTURE ASSOCIATES LLC', u'FINANCIAL ANALYST', u'50,000', u'WASHINGTON DC, DC', u'02/13/2015', u'08/12/2015', u'CERTIFIED')
(u'JOINT VENTURE ASSOCIATES LLC', u'FINANCIAL ANALYST', u'46,675', u'WASHINGTON, DC', u'02/13/2015', u'08/12/2015', u'CERTIFIED')
(u'JOINT VENTURE ASSOCIATES LLC', u'SOFTWARE ENGINEER', u'45,000', u'WASHINGTON DC, DC', u'02/13/2015', u'08/12/2015', u'CERTIFIED')
(u'JOINT VENTURE ASSOCIATES LLC', u'SOFTWARE ENGINEER', u'45,900', u'WASHINGTON DC, DC', u'02/13/2015', u'08/12/2015', u'CERTIFIED')
(u'JOINT VENTURE ASSOCIATES LLC', u'SOFTWARE ENGINEER', u'72,000', u'WASHINGTON DC, DC', u'02/26/2014', u'08/26/2014', u'CERTIFIED')
(u'JOINT VENTURE ASSOCIATES LLC', u'SOFTWARE ENGINEER', u'72,000', u'MILLERSVILLE, MD', u'01/21/2013', u'02/15/2013', u'CERTIFIED')
(u'JOINT VENTURE ASSOCIATES LLC', u'SOFTWARE ENGINEER', u'84,800', u'WASHINGTON DC, DC', u'02/13/2015', u'08/12/2015', u'CERTIFIED')

OperationalError: database is locked

In [115]:
conn.close()
print conn

<sqlite3.Connection object at 0x10876e858>

In [91]:
conn = sqlite3.connect('h1b_salary.db')
c = conn.cursor()

In [95]:
for row in c.execute('SELECT * FROM salary'):
    print row